@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Poppins&family=Rubik&family=Signika+Negative&family=Varela+Round&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cabin, "Times New Roman", Times, serif;
}
body {
    background: #ffe6e177;
}
ul {
    list-style-type: none;
}
.nav-main {
    height: 15vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    /* background: #ffe6e177; */
}
.nav-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8vh;
    width: 100%;
    margin: 0 auto;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li a {
    padding: 0.5rem 1rem;
}
.nav-links li a:hover {
    padding: 0.5rem 1rem;
    color: rgba(165, 42, 42, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
}
.nav-links a,
a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.main-con {
    height: 85vh;
}
.sub-main,
.about-con,
.contact-con {
    height: 100%;
    width: 90vw;
    margin: 0 auto;
}
.sub-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img {
    width: 90%;
    height: 90%;
    background: url(./images/hello0.svg) center/contain no-repeat;
    transition: background 1.5s linear;
}
.pic,
.center-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hi {
    font-size: 5vw;
    color: #3f2621;
}
.name::before {
    content: "Hi,there";
    margin-right: 1vw;
    font-size: 5vw;
    color: #3f2621;
}
.name {
    font-size: 3vw;
}
.info {
    display: flex;
    align-items: baseline;
}
.about-title {
    text-align: center;
    font-size: 5vw;
    font-family: "Varela Round";
    color: rgba(165, 42, 42, 0.8);
}
.about-content {
    text-align: center;
    font-size: 2vw;
    width: 70%;
    font-family: Rubik;
    margin: 2em auto;
}

.type::after {
    content: "";
    border-left: 0.1rem solid white;
    color: white;
    font-size: 1.8rem;
    animation: caret 0.6s infinite alternate;
}
.name.type::after {
    content: "";
    border-left: 0.1rem solid white;
    color: white;
    font-size: 3vw;
    animation: caret 0.6s infinite alternate;
}
@keyframes caret {
    0% {
        border-left: 0.15rem solid #a52a2a;
    }
    100% {
        border-left: 0.1rem solid #ffe6e177;
    }
}

.contact-con > h1 {
    text-align: center;
}
.con-card {
    text-align: center;
}
.con-card {
    text-align: center;
}
.con-card .icon {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.con-card .title {
    width: 80%;
    height: 20%;
    margin: 0 auto;
    font-size: 3vh;
    font-family: "Varela Round", "Times New Roman", Times, serif;
    font-weight: 600;
}
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5vh;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    margin-top: 4vh;
}
.fa-brands,
.fa-solid {
    font-size: 10em;
    margin-bottom: 7vh;
}

/* gallery */
.gallery-con {
    width: 70vw;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35vh 35vh;
    gap: 5vh;
    width: 80%;
    margin: 0 auto;
}
.gallery-pic {
    border-radius: 2%;
  
}


.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;

}
.text:hover {
    opacity: 1;
}
.gallery-pic {
    position: relative;
}

.gallery-pic img {
    border-radius: 2%;
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
}
.fa-eye{
    font-size: 4rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: all 0.3s linear;
}

.pic img{
    transition: all 0.5s linear;
}

@media screen and (max-width: 800px) {
    .nav-main {
        height: 30vh;
    }
    .main-con {
        height: 70vh;
    }
    .nav-links {
        font-size: 1.2rem;
        flex-direction: column;
    }
    .nav-in {
        grid-template-columns: 1fr;
    }
    .logo {
        display: none;
    }
    .nav-links li {
        text-align: center;
        margin-bottom: 2%;
    }
    .sub-main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 40vh;
    }
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}
